Lectures/chalkboard/2021/EOS240-Lecture1.json
Lectures/chalkboard/2021/EOS240-Lecture2.json
Lectures/chalkboard/2021/EOS240-Lecture3.json
Lectures/chalkboard/2021/EOS240-Lecture4.json
Lectures/chalkboard/2021/EOS240-Lecture5.json
Lectures/chalkboard/2021/EOS240-Lecture5b.json
Lectures/chalkboard/2021/EOS240-Lecture6.json
Lectures/chalkboard/2021/EOS240-Lecture7.json
Lectures/chalkboard/2021/EOS240-Lecture8.json
Lectures/chalkboard/2021/EOS240-Lecture9.json
Lectures/chalkboard/2021/EOS240-Lecture10.json
Lectures/chalkboard/2021/EOS240-Lecture11.json
Lectures/chalkboard/2021/EOS240-Lecture12.json
Lectures/chalkboard/2021/EOS240-Lecture13.json
Lectures/chalkboard/2021/EOS240-Lecture14.json
Lectures/chalkboard/2021/EOS240-Lecture15.json
Lectures/chalkboard/2021/EOS240-Lecture16.json
Lectures/chalkboard/2021/EOS240-Lecture17.json
Lectures/chalkboard/2021/EOS240-Lecture18.json
Lectures/chalkboard/2021/EOS240-Lecture19.json
Lectures/chalkboard/2021/EOS240-Lecture20.json
Lectures/chalkboard/2021/EOS240-Lecture21.json
Lectures/chalkboard/2021/EOS240-Lecture22.json
Lectures/chalkboard/2021/EOS240-Lecture23.json
Lectures/chalkboard/2021/EOS240-Lecture24.json
Lectures/chalkboard/2022/EOS240-Lecture1.json
Lectures/chalkboard/2022/EOS240-Lecture2.json
Lectures/chalkboard/2022/EOS240-Lecture3.json
Lectures/chalkboard/2022/EOS240-Lecture4.json
Lectures/chalkboard/2022/EOS240-Lecture5.json
Lectures/chalkboard/2022/EOS240-Lecture6.json
Lectures/chalkboard/2022/EOS240-Lecture8.json
Lectures/chalkboard/2022/EOS240-Lecture9.json
Lectures/chalkboard/2022/EOS240-Lecture10.json
Lectures/chalkboard/2022/EOS240-Lecture11.json
Lectures/chalkboard/2022/EOS240-Lecture12.json
Lectures/chalkboard/2022/EOS240-Lecture13.json
Lectures/chalkboard/2022/EOS240-Lecture14.json
Lectures/chalkboard/2022/EOS240-Lecture16.json
Lectures/chalkboard/2022/EOS240-Lecture17.json
Lectures/chalkboard/2022/EOS240-Lecture18.json
Lectures/chalkboard/2022/EOS240-Lecture19.json
Lectures/chalkboard/2022/EOS240-Lecture20.json
Lectures/chalkboard/2022/EOS240-Lecture21.json
Lectures/chalkboard/2022/EOS240-Review2022.json
Lectures/chalkboard/2022/notes_for_me.json
Lectures/.ipynb_checkpoints/*
Outline/Outline.synctex.gz
Outline/Outline.synctex.gz
Lectures/Lecture01_working.ipynb
Lectures/Lecture01-dev.ipynb
Lectures/Lecture06_trace.ipynb
Lectures/.ipynb_checkpoints/Lecture06-checkpoint.ipynb
Lectures/notes.blend1
